<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title> {{subject}} </title>
</head>
<body>

	<h1> Hello {{username}} </h1>

	<p> Just to let you know that your account over at {{app_name}} has been 
		activated and is now accessible. To access your account head over to
		here {{app_url}} </p>

	<p> Cheers {{app_name}} Team. </p>

</body>
</html>