<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title> {{subject}} </title>
</head>
<body>

	<h1> Hello {{username}} </h1>

	<p> Hey some of your information has been changed over at {{app_name}}. This is
	just an email to let you know and to tell you what's been changed. </p>

	<p> Username: {{username}} </p>
	<p> Password: {{password}} </p>
	<p> Email: {{email}} </p>

	<p> Cheers {{app_name}} Team. </p>

</body>
</html>