<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title> {{subject}} </title>
</head>
<body>

	<h1> Hello {{username}} </h1>

	<p> This is just a quick email to let you know we have successfully reset your password at {{app_name}}. Please 
		login and change this immediately!</p>

	<h3> Your new Password </h3>
	<p> {{password}} </p>

	<h3> What Now? </h3>
	<p> That's it just login and change it haha or keep it, if you keep it make sure no one seems this email. Infact memorise it and
	delete it quick. Ok i'll give you three seconds.. 1.. 2.. 3.. BOOM! this email is now deleted. Hmm, your still reading it.
	Well pretend it's deleted whenever you check your inbox i'm not here. </p>

	<p> Be gone.. </p>
	
</body>
</html>