<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title> {{subject}} </title>
</head>
<body>

	<h1> Reset your password </h1>

	<p> We've just received a password reset request for your {{app_name}} account. </p>

	<h3>To reset your password simply click the following link: </h3>
	<p> <a href="{{new_password_link}}">{{new_password_link}}</a> </p>

	<p> If you didn't request this change, just ignore and delete this email. Your account will be safe. </p>

	<p> Thanks,</p>
	<p> The {{app_name}} team. </p>
	
	<hr>
	<p> Still can't log in? If you're still having problems logging in or if you think someone is trying you access your account, please <a href="http://isubscribe.com">contact us</a>. </p>

	
	
</body>
</html>