<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title> {{subject}} </title>
</head>
<body>

	<h1> Hello {{username}} </h1>

	<p> Welcome to {{app_name}}, this is just a confirmation email welcoming you to our website
		and just to drop some information off for you. </p>

	<p> Username: {{username}} </p>
	<p> Password: {{password}} </p>

	<h3> Activation Information </h3>
	<p> Please select the link below in order to finish the registration process, this will then activate
	your account and allow you to login. </p>
	<p> <a href="{{activation_url}}">{{activation_url}}</a> </p>

</body>
</html>